/* The sidepanel menu */
.sidepanel {
  top: 0;
  left: 0;
  /* padding: 10px 0px; */
  transition: 0.5s;
}

.big {
  display: flex;
  width: 95%;
  margin: 6rem auto;
}

.test {
  display: flex;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  margin: 15px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: black;
  height: 2rem;
  position: fixed;
  border: none;
}
.openbtn:hover {
  cursor: pointer;
}

.sideBarTitle {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0px 25px;
}

.sideBarTitleAr {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0px 25px;
  justify-content: end;
}

.searchArticle,
.categoryArticle {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border-bottom: 1px solid rgb(110, 110, 110);
  padding: 20px 10px;
  /* align-items: end; */
}

.find {
  text-align: right;
}

.categ {
  text-align: end;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px 0px;
}

.checkBoxLine {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.content {
  transition: margin-left 0.5s;
}

/* Adjust the margin when the sidebar is open */
.sidepanel-open .content {
  margin-left: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 30px;
  padding: 10px;
}

.customCheckbox {
  width: 20px;
  height: 20px;
}

.infoCart {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  margin: 20px auto;
}

.infoCartAR {
  align-items: end;
}

.addToCart {
  background-color: #c86823;
  border: 0;
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  transition: background-color 0.3s;
}

.addToCart:hover {
  background-color: #a0471d;
  cursor: pointer;
}

.oneCart {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: fit-content;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */

  /* Optional: Add a transition for smoother effects */
  transition: background-color 0.3s, opacity 0.3s;
}

/* .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root input:focus {
  border-color: #c86823 !important;
  color: #c86823 !important;
} */

/* .oneCart:hover {
  background-color: #f8f8f8;
  opacity: 0.8;
} */

.imgCart {
  width: 300px;
  height: 300px;
}

.cartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (max-width: 1140px) {
  .oneCart {
    width: 320px;
  }
}

@media screen and (max-width: 650px) {
  .addToCart {
    width: 250px;
    font-size: 15px;
    padding: 10px;
  }
  .big {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .sidepanel {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .imgCart {
    width: 100%;
  }

  .infoCart {
    width: 90%;
  }
  .openbtn {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .openbtn {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .sidepanel {
    margin: 0 auto;
  }
  .openbtn {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .sidepanel .closebtn {
    display: none;
  }
  .openbtn {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  /* .openbtn{
    display: none;
  } */
}

@media screen and (max-width: 960px) {
  .sidepanel {
    /* background-color: #c86823; */
    overflow-x: auto;
    width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .big {
    display: flex;
    /* flex-wrap: wrap; */
  }

  .containerLoading {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 430px) {
  .big {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 430px) {
  .sidepanel {
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .searchArticle,
  .categoryArticle {
    padding: 5px;
    margin: 5px;
  }
  .sideBarTitle {
    padding: 10px;
  }
  .sideBarTitleAr {
    padding: 10px;
  }
}

@media screen and (max-width: 380px) {
  .oneCart {
    width: 100%;
  }
  .addToCart {
    width: 100%;
  }
}

.radioInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.radioInput * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radioInputAr {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: end;
}

.radioInputAr * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
  border-radius: 10px;
}

.labelAr {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
  border-radius: 10px;
  justify-content: end;
}

/* #C86823 */

.label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  /* border: 1px solid transparent; */
}

.label:hover {
  transition: all 0.2s ease;
  background-color: #c86823;
  /* border: none; */
}

.label:has(input:checked)::before {
  background-color: #c86823;
  /* border-color: #435dd8; */
  height: 50px;
}

.label .text {
  color: black;
  transition: color 0.2s ease;
  /* text-align: end; */
}

.label:hover .text {
  color: white;
}

.label input[type="radio"] {
  /* background-color: #202030; */
  background-color: white;
  border: 1px solid black;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label input[type="radio"]:checked {
  background-color: #435dd8;
  animation: pulse 0.7s forwards;
}

.label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.label input[type="radio"]:checked::before {
  transform: scale(1);
}

.labelAr::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  /* border: 1px solid transparent; */
}

.labelAr:hover {
  transition: all 0.2s ease;
  background-color: #c86823;
  /* border: none; */
}

.labelAr:has(input:checked)::before {
  background-color: #c86823;
  /* border-color: #435dd8; */
  height: 50px;
}

.labelAr .text {
  color: black;
  transition: color 0.2s ease;
}

.labelAr:hover .text {
  color: white;
}

.labelAr input[type="radio"] {
  /* background-color: #202030; */
  background-color: white;
  border: 1px solid black;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelAr input[type="radio"]:checked {
  background-color: #435dd8;
  animation: pulse 0.7s forwards;
}

.labelAr input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.labelAr input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Info.module.css or any appropriate CSS file */

.containerLoading {
  display: flex;
  column-gap: 30px;
}

.loadingIndicator {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: #f0f0f0;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.containerLoadingCata {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}

.loadingIndicatorCata {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #f0f0f0;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
